/* Style.css */

/* Outer Bits */

html, body {
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0)  url(../images/granite-bg.jpg) no-repeat 0 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #cccccc;
    line-height: 1.8em;
}

#page {
    max-width: 960px;
    margin: 0 auto 200px auto;
    position: relative;
    
}

/* Text */

h1 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

/* Header */

header {
    background-color: #ffffff;
    border-bottom: 3px solid #cccccc;
    height: 88px;
    width: 100%;
}

.inner-header {
    width: 960px;
    height: 92px;
    margin: 0 auto;
    position: relative;
}

.h1-container {
    float: left;
}

.h1-container h1 {
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 30px 25px;
    margin: 0;
    display: inline-block; /*h1 will not take up more width than it needs */
}

header a {
    position: relative;
    float: right;
    margin: 0 0 0 25px;
    line-height: 90px;
    color: #cccccc;
    text-decoration: none;
}

header a.selected {
    color: #4aaaa5;
}

header a:hover {
    text-decoration: underline;
    color: #4aaaa5;
}

/* About */
.container {
    margin-top: 25px;
    padding: 25px;
    background-color: #ffffff;
    width: 910px;
    overflow: hidden;
}

.info-container {
    padding: 0 25px;
    border-bottom: 3px solid #cccccc;
}

.info-container h1 {
    color: #4aaaa5;
}

.first-paragraph {
    padding: 0 0 0 225px;
    background: url(../images/fedora\(smaller\).jpg) no-repeat left top;
    margin-top: 30px;
}

/* Contact */
input.info {
    width: 100%;
}
textarea.message {
    width: 100%;
    height: 200px;
}

.button {
    background-color: #4aaaa5;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.button:hover {
    color: #4aaaa5;
    background-color: #ffffff;
    border: #4aaaa5 solid 1px;
}

/* Portfolio */
div.portfolio-element {
    width: 300px;
    height: 250px;
    margin: 30px 30px 0 0;
    position: relative;
    float: left;
}

div.portfolio-element p {
    top: 70%;
    width: 100%;
    background-color: #4aaaa5;
    color: #ffffff;
    position: absolute;
    text-align: center;
    padding: 10px 0;
}
/* Footer */

footer {
    position: fixed;
    height: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: #ffffff;
    text-align: center;
    border-top: #4aaaa5 solid 10px;
}