/* Style.css */

/* Outer Bits */

html, body {
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0)  url(../images/granite-bg.jpg) no-repeat 0 0;
}

#page {
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    
}

/* Text */

h1 {
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 30px 25px;
    margin: 0;
    display: inline-block; /*h1 will not take up more width than it needs */
}

/* Header */

header {
    background-color: #ffffff;
    border-bottom: 3px solid #cccccc;
    height: 97px;
    width: 100%;
}

.inner-header {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
}

.h1-container {
    float: left;
}

